* {
  box-sizing: border-box;
}
.container {
  font-family: sans-serif;
  max-width: 1140px;
  margin: 0 auto;
}

/*navigation style*/
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: rgb(57, 65, 102);
}
.navigation-items {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}
.navigation-item {
  list-style-type: none;
  padding-left: 3rem;
}
.navigation-item a {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
.navigation-item i,
.navigation-items i {
  font-size: 1.2rem;
  color: rgb(148, 157, 187);
  padding: 0.5rem;
}
.navigation-items p {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}
.navigation-image {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-left: 1rem;
}

.box {
  display: flex;
  gap: 10px;
  margin-top: 1rem;
}

/*info-one style*/
.info-one {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.info-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 2;
}
.meniu-box {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  padding: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(3, 166, 173);
}
.messsage {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  background-color: rgba(57, 65, 102);
  border-bottom: 3px solid rgb(49, 57, 93);
}
.message-item {
  display: flex;
  align-items: center;
}
.message-item i {
  font-size: 1rem;
  color: rgb(148, 157, 187);
  padding: 0.5rem;
}
.message-item p {
  font-size: 0.7rem;
  font-weight: 100;
  color: #fff;
  text-transform: capitalize;
  margin-left: 1rem;
}
.message-value {
  font-size: 0.7rem;
  font-weight: 300;
  padding: 0.2rem;
  border-radius: 10px;
  background-color: rgba(148, 157, 187, 0.5);
}
.info-date {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(57, 65, 102);
}
.date-head {
  font-size: 0.8rem;
  font-weight: 700;
  color: #fff;
  padding-top: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 200px;
  border: 30px solid rgb(1, 165, 172);
  border-radius: 100px;
}
.date h1 {
  font-size: 1.7rem;
  font-weight: 200;
  color: #fff;
  margin-bottom: 0;
  text-transform: uppercase;
}
.date p {
  font-size: 1.7rem;
  font-weight: 200;
  margin-top: 1rem;
  color: rgb(113, 122, 163);
}
/* info-two style*/
.info-two {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.account {
  flex: 3;
  display: flex;
  flex-direction: column;
  background-color: rgba(57, 65, 102);
}
.account-add {
  text-align: right;
  padding: 1rem;
  padding-bottom: 0;
}
.account-add i {
  font-size: 1.4rem;
  color: rgb(169, 167, 167);
  cursor: pointer;
}
.account-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  padding-top: 1rem;
}
.account-image img {
  width: 100px;
  height: 100px;
  border: 3px solid #888;
  border-radius: 100px;
}
.account-image h3 {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
}
.account-image p {
  text-align: center;
  margin-top: 7px;
  color: rgb(173, 172, 172);
}
.get-info {
  display: flex;
  text-align: center;
}
.get-info_item {
  flex: 1;
  padding: 1rem;
  border-left: 2px solid rgb(49, 57, 93);
}
.get-info_item i {
  font-size: 1.1rem;
  color: #888;
  cursor: pointer;
}
.get-info_item span {
  font-size: 1rem;
  font-weight: 600;
  padding-left: 0.5rem;
  color: #fff;
}
.border-one {
  border-top: 4px solid rgb(179, 143, 112);
}
.border-two {
  border-top: 4px solid rgb(51, 133, 163);
}
.border-there {
  border-top: 4px solid rgb(151, 80, 124);
}
.weather {
  flex: 2;
  background-color: rgba(223, 19, 53, 0.6);
}
.weather-location {
  text-align: center;
  background-color: rgb(224, 33, 65);
}
.weather-location i,
.weather-location span {
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem;
  color: #fff;
}
.weather-location_info {
  margin-top: 0;
  text-align: center;
}
.weather-location_info p {
  font-size: 0.7rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
.weather-location_info i,
.weather-location_info span {
  font-size: 3rem;
  padding-left: 1rem;
  color: #fff;
}

/*info-there style*/
.main-header {
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}
.input-item {
  font-size: 1rem;
  font-weight: 100;
  padding-left: 1rem;
  width: 80%;
  height: 40px;
  border: none;
  border-radius: 5px;
  color: #888;
  background: rgba(122, 137, 205, 0.4);
  outline: none;
}
.info-there {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}
.push-email {
  padding: 1rem 1rem;
  text-align: center;
  background: rgb(57, 65, 102);
}
.button-item_one {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  padding: 0.6rem 2rem;
  margin: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(3, 166, 173);
  border: 1px solid rgb(3, 166, 173);
  border-radius: 5px;
  cursor: pointer;
}
.push-info {
  flex: 3;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: rgb(57, 65, 102);
}
.button-item_two {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  padding: 0.9rem 3.5rem;
  margin-top: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  background-color: rgb(231, 75, 93);
  border: 1px solid rgb(231, 75, 93);
  border-radius: 5px;
  cursor: pointer;
}
.push-info p {
  font-size: 0.9rem;
  font-weight: 100;
  margin-top: 0;
  color: #888;
  text-transform: capitalize;
}
.push-info_facebook {
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: rgb(49, 102, 177);
}
.push-info_facebook i {
  padding: 0.7rem;
  font-size: 1rem;
  color: #fff;
}
.push-info_facebook span {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
}
